In [6]:
import pandas as pd
import numpy as np
import requests as rq
import re

from sqlalchemy import create_engine
import string
from unidecode import unidecode

In [202]:
%matplotlib inline

import matplotlib.pyplot as plt
import matplotlib.pylab as pylab

## Query and preprocess

In [7]:
engine = create_engine('mysql://sedelnikovs:sedelnikovs@127.0.0.1/bob_mx_live?charset=utf8')

In [396]:
#query
df_top = pd.read_sql("select * from \
            (select SKUConfig, sum(PaidPrice) as PaidPrice from A_Master where MonthNum >= 201511 group by SKUConfig \
            ) a join \
            (SELECT cat.sku_config, cat.Cat1, cat.Cat2, cat.Cat3, cat.Cat4, cat.Brand FROM A_Master_Catalog cat) b\
            on a.SKUConfig = b.sku_config order by PaidPrice desc limit 10000", engine)

In [398]:
#preprocess data
df_top['main_cat'] = df_top.apply(lambda row: row['Cat4'] if row['Cat4'] != '' else row['Cat3'] if row['Cat3'] != ''
                                 else row['Cat2'] if row['Cat2'] != '' else row['Cat1'] if row['Cat1'] != ''
                                 else '', axis = 1)

df_top['parent_cat'] = df_top.apply(lambda row: row['Cat3'] if row['Cat4'] != '' else row['Cat2'] if row['Cat3'] != ''
                                 else row['Cat1'] if row['Cat2'] != '' else '', axis = 1)

df_top = df_top.drop(list(df_top.ix[df_top.main_cat == '',:].index))

df_top = df_top.drop(list(df_top.ix[df_top.parent_cat == '',:].index))

df_top['main_cat'] = df_top['main_cat'].apply(lambda x: ''.join(l for l in x if l not in string.punctuation).lower())
df_top['main_cat'] = df_top['main_cat'].apply(unidecode)

df_top['parent_cat'] = df_top['parent_cat'].apply(lambda x: ''.join(l for l in x if l not in string.punctuation).lower())
df_top['parent_cat'] = df_top['parent_cat'].apply(unidecode)

## API calls to datajet

In [ ]:
#make api calls to datajet
%time df_top['main_cat_rec_share'] = df_top.apply(lambda row: share_of_similar_items(row['SKUConfig'],row['main_cat']),axis = 1)
%time df_top['parent_cat_rec_share'] = df_top.apply(lambda row: share_of_similar_items(row['SKUConfig'],row['parent_cat'],level = 'parent'),axis = 1)
%time df_top['brand_rec_share'] = df_top.apply(lambda row: share_of_similar_brand(row['SKUConfig'],row['Brand']),axis = 1)

## Plotting

In [ ]:
#setting size of the plots
fig_size = plt.rcParams["figure.figsize"]
fig_size[0] = 12
fig_size[1] = 9
plt.rcParams["figure.figsize"] = fig_size


fig, (ax1,ax2) = plt.subplots(1, 2)

(n, bins, patches) = ax1.hist(np.array(df_top.ix[df_top.main_cat_rec_share != 2,:].main_cat_rec_share), bins = 11, 
         color='g', alpha = 0.75,label='same category')
ax1.grid(True)
ax1.legend()
ax1.set_ylim(0,1600)
ax1.set_xlabel('share of items recommended')
ax1.set_ylabel('# of sku')
#ax1.set_title('Product recommendation from the same category');

(n2, bins2, patches2) = ax2.hist(np.array(df_top.ix[df_top.parent_cat_rec_share != 2,:].parent_cat_rec_share), bins = 11, 
         color='y', alpha = 0.75,label='sibling category')
ax2.grid(True)
ax2.legend()
ax2.set_xlabel('share of items recommended')
ax2.set_ylabel('# of sku')
#ax2.set_title('Product recommendation from the same category');

#subplots_adjust(hspace = 0.7)
fig.suptitle('Categories of recommended products', fontsize=14, fontweight='bold');

In [249]:
#create tables supporting the plot
df_s = pd.DataFrame([n,bins]).transpose()
df_s.columns = ['n','bins']
df_s['share'] = df_s.n/526
df_sib = pd.DataFrame([n2,bins2]).transpose()
df_sib.columns = ['n','bins']
df_sib['share'] = df_sib.n/526

In [250]:
#for green plot
df_s.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11
n,84.00,40.00,29.00,25.00,35.00,20.00,30.00,37.00,43.00,48.00,73.00,NaN
bins,0.00,0.09,0.18,0.27,0.36,0.45,0.55,0.64,0.73,0.82,0.91,1
share,0.16,0.08,0.06,0.05,0.07,0.04,0.06,0.07,0.08,0.09,0.14,NaN

In [251]:
#for yellow plot
df_sib.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11
n,71.00,24.00,17.00,17.00,23.00,19.00,23.00,23.00,61.00,72.00,114.00,NaN
bins,0.00,0.09,0.18,0.27,0.36,0.45,0.55,0.64,0.73,0.82,0.91,1
share,0.13,0.05,0.03,0.03,0.04,0.04,0.04,0.04,0.12,0.14,0.22,NaN

## Bad recommendations

In [503]:
#prepare the bad recommendations Cat3 DataFrame
flag1 = df_top.parent_cat_rec_share <= 0.05
flag2 = df_top.main_cat_rec_share <= 0.05
flag3 = df_top.brand_rec_share <= 0.05

df_top3_filtered = df_top.ix[(flag1 & flag2 & flag3),:].groupby('Cat3').count()[['Cat1','Cat2']]
df_top3_filtered['Cat3'] = list(df_top3_filtered.index)

df_top3 = df_top.groupby('Cat3').count()[['Cat1','Cat2']]
df_top3['Cat3'] = list(df_top3.index)

df_top3_merged = df_top3.merge(df_top3_filtered, on = 'Cat3',suffixes=('_all', '_bad'))
df_top3_merged = df_top3_merged.drop(0)
df_top3_merged['bad_share'] = df_top3_merged.Cat1_bad/df_top3_merged.Cat1_all

df_top3_merged_sorted = df_top3_merged.sort_values(['Cat1_all','bad_share'], ascending=False)
df_top3_merged_sorted['bad_share'] = df_top3_merged_sorted.bad_share.apply(lambda x: x*100)

In [504]:
#weighted average of bad recommendation
sum(df_top3_merged_sorted.Cat1_all * df_top3_merged_sorted.bad_share)/sum(df_top3_merged_sorted.Cat1_all)

5.414426107917671

In [511]:
#filter the categories
flag11 = df_top3_merged_sorted.Cat1_all > 20
flag21 = df_top3_merged_sorted.bad_share > 10
df_top3_merged_sorted_selected = df_top3_merged_sorted.ix[(flag11 & flag21),:].sort_values('bad_share', ascending = False)

In [512]:
#create flag for selected categories
selected_cats3 = set(df_top3_merged_sorted_selected.Cat3)
flag4 = df_top.Cat3.apply(lambda x: x in selected_cats3)

In [538]:
#df_top3_merged_sorted_selected.ix[:,[]]to_csv('sku_with_strange_reco.csv')
df_top3_merged_sorted_selected_name = df_top3_merged_sorted_selected.ix[:,['Cat3','Cat1_all','Cat1_bad','bad_share']]
df_top3_merged_sorted_selected_name.columns = ['Cat3 name','# SKU','# SKU with bad reco','% of SKU with bad reco']
df_top3_merged_sorted_selected_name

,Cat3 name,# SKU,# SKU with bad reco,% of SKU with bad reco
86,Otras Cámaras,25,8,32.00
76,Muebles Cocina,27,6,22.22
59,Juguetes para Niños,33,5,15.15
29,Cocina,161,24,14.91
65,Limpieza del Hogar,27,4,14.81
93,Preparación de Bebidas,28,4,14.29
112,Triciclos y Montables,76,10,13.16
72,Microondas y Hornos,24,3,12.50
108,TV Internet,33,4,12.12

In [594]:
df_top3_merged_sorted_selected_name.ix[df_top3_merged_sorted_selected_name['% of SKU with bad reco'] > 10,:].sort_values('% of SKU with bad reco', ascending = False)

,Cat3 name,# SKU,# SKU with bad reco,% of SKU with bad reco
76,Muebles Cocina,27,6,22.22
65,Limpieza del Hogar,27,4,14.81
93,Preparación de Bebidas,28,4,14.29
108,TV Internet,33,4,12.12
86,Otras Cámaras,25,3,12.00
29,Cocina,161,18,11.18

In [591]:
df_top3_merged_sorted_selected_name.ix[86,2] = 3
df_top3_merged_sorted_selected_name.ix[76,2] = 6
df_top3_merged_sorted_selected_name.ix[59,2] = 2
df_top3_merged_sorted_selected_name.ix[29,2] = 18
df_top3_merged_sorted_selected_name.ix[65,2] = 4
df_top3_merged_sorted_selected_name.ix[93,2] = 4
df_top3_merged_sorted_selected_name.ix[112,2] = 4
df_top3_merged_sorted_selected_name.ix[72,2] = 2
df_top3_merged_sorted_selected_name['% of SKU with bad reco'] = df_top3_merged_sorted_selected_name['# SKU with bad reco']*100/df_top3_merged_sorted_selected_name['# SKU']

In [544]:
#select the SKU's
df_top3_to_check = df_top3_filtered = df_top.ix[(flag1 & flag2 & flag3 & flag4),:]

In [ ]:
#output to csv
df_top3_to_check.loc[:,'Cat1'] = df_top3_to_check.Cat1.apply(unidecode)
df_top3_to_check.loc[:,'Cat2'] = df_top3_to_check.Cat2.apply(unidecode)
df_top3_to_check.loc[:,'Cat3'] = df_top3_to_check.Cat3.apply(unidecode)
df_top3_to_check.loc[:,'Cat4'] = df_top3_to_check.Cat4.apply(unidecode)
df_top3_to_check.loc[:,'Brand'] = df_top3_to_check.Brand.apply(unidecode)
df_top3_to_check.ix[:,range(2,13)].to_csv('sku_with_strange_reco.csv')

In [569]:
df_top3_to_check.ix[df_top3_to_check.Cat3 == unidecode(u'Otras Cámaras'),:]

,SKUConfig,PaidPrice,sku_config,Cat1,Cat2,Cat3,Cat4,Brand,main_cat,parent_cat,main_cat_rec_share,parent_cat_rec_share,brand_rec_share
2034,AR600EL1NHWFCLMX,61510.07,AR600EL1NHWFCLMX,Camaras y Lentes,Camaras,Otras Camaras,Camaras Espias,Ar Drone,camaras espias,otras camaras,0,0,0
2035,AR600EL1NHWFCLMX,61510.07,AR600EL1NHWFCLMX,Camaras y Lentes,Camaras,Otras Camaras,Camaras Espias,Ar Drone,camaras espias,otras camaras,0,0,0
2036,AR600EL1NHWFCLMX,61510.07,AR600EL1NHWFCLMX,Camaras y Lentes,Camaras,Otras Camaras,Camaras Espias,Ar Drone,camaras espias,otras camaras,0,0,0
2037,AR600EL1NHWFCLMX,61510.07,AR600EL1NHWFCLMX,Camaras y Lentes,Camaras,Otras Camaras,Camaras Espias,Ar Drone,camaras espias,otras camaras,0,0,0
2495,MO702EL05NOCGLMX,50173.14,MO702EL05NOCGLMX,Camaras y Lentes,Camaras,Otras Camaras,Otras Camaras,Mobile City,otras camaras,otras camaras,0,0,0
5546,AL288EL1AYKNWLMX,21213.90,AL288EL1AYKNWLMX,Camaras y Lentes,Camaras,Otras Camaras,Otras Camaras,Alcar Gadget,otras camaras,otras camaras,0,0,0
8233,RE045EL86CZDLMX,13679.50,RE045EL86CZDLMX,Camaras y Lentes,Camaras,Otras Camaras,Camaras Espias,RedLemon,camaras espias,otras camaras,0,0,0
8869,MO702EL81VCWLMX,12617.14,MO702EL81VCWLMX,Camaras y Lentes,Camaras,Otras Camaras,Otras Camaras,Mobile City,otras camaras,otras camaras,0,0,0

In [587]:
get_reco_images('SA291EL0XVHHCLMX')

In [483]:
#get_reco_images('EN464TB49CDALMX')

## API call methods

In [ ]:
def share_of_similar_items(sku, category,level = 'main', key = 'pYJDcBMdGR4tUM1OADt42LGvFSj7U5U'):
        feed = 'https://feed.datajet.io/1.0/moreLikeThis?key={key}&sku={sku}&self=True' 
        r = rq.get(feed.format(key = key,sku = sku))
        try:
            if r.json()['error']:
                return float(2)
        except: KeyError
        pass
        if level == 'main':
            true_ = sum([arr['main_category'] == category.lower() for arr in r.json()])
            length_ = max(float(len(r.json())),1)
        else:
            try:
                true_ = 0
                length_ = float(1)
                true_ = sum([arr['categories'][-2:-1][0] == category.lower() if len(arr['categories'][-2:-1]) > 0
                             else False for arr in r.json()])
                length_ = max(float(len(r.json())),1)
            except: IndexError
            pass
        print sku
        return true_/length_

In [ ]:
def share_of_similar_brand(sku, brand, key = 'pYJDcBMdGR4tUM1OADt42LGvFSj7U5U'):
        feed = 'https://feed.datajet.io/1.0/moreLikeThis?key={key}&sku={sku}&self=True' 
        r = rq.get(feed.format(key = key,sku = sku))
        try:
            if r.json()['error']:
                return float(2)
        except: KeyError
        pass
        true_ = 0
        length_ = float(1)
        true_ = sum([arr['brand'].lower() == brand.lower() if len(arr['brand']) > 0
                    else False for arr in r.json()])
        length_ = max(float(len(r.json())),1)        
        print sku
        return true_/length_

In [ ]:
def get_reco_images(sku, key = 'pYJDcBMdGR4tUM1OADt42LGvFSj7U5U'):
        feed = 'https://feed.datajet.io/1.0/moreLikeThis?key={key}&sku={sku}&self=True' 
        r = rq.get(feed.format(key = key,sku = sku))
        
        imagesList=''.join(["<img style='width: 120px; height: 120px; margin: 0px; float: left; border: 1px solid black;' src='%s' />" % str(s['image']) 
                 for s in r.json()])
        display(HTML(imagesList))

In [ ]:
#test methods by one
share_of_similar_brand('SA291EL82NQNLMX','Samsung')

share_of_similar_items('SA291EL82NQNLMX',u'led tv')

share_of_similar_items('CA268EL1JXIAELMX','camaras reflex','bla')

## Temp cells

In [ ]:
r = rq.get('https://feed.datajet.io/1.0/moreLikeThis?key=pYJDcBMdGR4tUM1OADt42LGvFSj7U5U&sku=SA291EL051Z3GLMX&self=True')
r.text

r1 = rq.get('https://feed.datajet.io/1.0/moreLikeThis?key=pYJDcBMdGR4tUM1OADt42LGvFSj7U5U&sku=AN944FA08FXJLMX&self=True')
len(r1.json())

r2 = rq.get('https://feed.datajet.io/1.0/moreLikeThis?OADt42LGvFSj7U5U&sku=AN944FA08FXJLMX&self=True')
r2.json()

In [ ]:
r1 = rq.get('https://feed.datajet.io/1.0/moreLikeThis?key=pYJDcBMdGR4tUM1OADt42LGvFSj7U5U&sku=HY371HL35FQYLMX&self=True')
r1.json()

In [ ]:
r1.json()[8]['categories'][-2:-1][0]

In [299]:
r1.json()[8]['categories'][-2:-1][0]
#r1.json()[1]['categories']

u'smartphones'

In [1]:
import multiprocessing as mp

In [4]:
mp.Pipe?

In [244]:
pd.set_option('precision', 2)

In [288]:
sum([arr['categories'][-2:-1] == u'smartphones' for arr in r1.json()])

0

In [475]:
for arr in r1.json():
    print arr['image']

http://media.linio.com.mx/p/hypermark-9851-8956521-1-product.jpg
http://media.linio.com.mx/p/hypermark-9667-4067412-1-product.jpg
http://media.linio.com.mx/p/whirlpool-3008-873963-2-product.jpg
http://media.linio.com.mx/p/royal-consumer-4000-7112222-1-product.jpg
http://media.linio.com.mx/p/hypermark-9739-2167412-1-product.jpg
http://media.linio.com.mx/p/aqualite-4833-9569422-2-product.jpg
http://media.linio.com.mx/p/aqualite-4831-8569422-2-product.jpg
http://media.linio.com.mx/p/hypermark-9693-8067412-1-product.jpg
http://media.linio.com.mx/p/hypermark-9798-1956521-1-product.jpg
http://media.linio.com.mx/p/hypermark-4795-367733-1-product.jpg

In [ ]:
for arr in r1.json():
    print arr['categories'][-2:-1]

In [ ]:
#9851-8956521   1256598  2015-01-19 14:37:31   1421678251   216782   98          216782   98
#9667-4067412   2147604  2015-06-14 17:07:47   1434301667   343016   96          34301 7   97
#3008-873963    369378   2015-11-05 19:23:28   1446751408   467514   30          216781   97
#4000-7112222   2222117  2015-07-15 13:13:20   1436966000   369660   40          34301 6   96
#9739-2167412   2147612  2015-06-14 17:08:59   1434301739   343017   97          38166 8   48
#4833-9569422   2249659  2015-07-29 10:47:13   1438166833   381668   48          164131   47
#4831-8569422   2249658  2015-07-29 10:47:11   1438166831   381668   48          36966 0   40
#9693-8067412   2147608  2015-06-14 17:08:13   1434301693   343016   96          467514   30
#9798-1956521   1256591  2015-01-19 14:36:38   1421678198   216781   97
#4795-367733    337763   2014-11-19 16:06:35   1416413195   164131   47

In [630]:
14+21+67+17

95

In [ ]:
df_top2 = df_top.copy(deep = True)

In [ ]:
df_top = pd.read_sql("select * from \
            (select SKUConfig, sum(PaidPrice) as PaidPrice from A_Master where MonthNum >= 201511 group by SKUConfig \
            order by sum(PaidPrice) desc limit 500) a join \
            (SELECT cat.sku_config, cat.Cat1, cat.Cat2, cat.Cat3, cat.Cat4 FROM A_Master_Catalog cat) b\
            on a.SKUConfig = b.sku_config", engine)

In [ ]:
sql_sku_cat = """
SELECT cat.sku_config, cat.Cat1, cat.Cat2, cat.Cat3, cat.Cat4, des.description
FROM A_Master_Catalog cat
LEFT OUTER JOIN catalog_config des ON
  cat.sku_config = des.sku
WHERE cat.Cat3 LIKE '{0}'
"""

df_cats = pd.read_sql(sql_sku_cat.format("accesorios para bicicletas"), engine)
df_cats

In [ ]:
df_top.ix[df_top.parent_cat_rec_share == 0,:].sort_values('main_cat_rec_share', ascending = False)

In [ ]:
%time df_top['main_cat_rec_share'] = df_top.apply(lambda row: share_of_similar_items(row['SKUConfig'],row['main_cat']),axis = 1)

In [ ]:
%time df_top['parent_cat_rec_share'] = df_top.apply(lambda row: share_of_similar_items(row['SKUConfig'],row['parent_cat'],level = 'parent'),axis = 1)

In [ ]:
%time df_top['brand_rec_share'] = df_top.apply(lambda row: share_of_similar_brand(row['SKUConfig'],row['Brand']),axis = 1)

In [407]:
df_top.to_pickle('top10000.pkl')

In [ ]:
plt.hist(df_top.ix[df_top.brand_rec_share < 2,:].brand_rec_share)

df_top.ix[df_top.parent_cat_rec_share == 0,:].sort_values('main_cat_rec_share', ascending = False)

In [595]:
plan = pd.read_sql("explain select OrderNum, SKUConfig from A_Master a join \
                       (select OrderNum as orn from A_Master GROUP BY OrderNum HAVING COUNT(SKUConfig) > 1) b\
                       on a.OrderNum = b.orn where MonthNum >= 201511", engine)

In [596]:
plan

,id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
0,1,PRIMARY,a,range,"OrderNum,MonthNum",MonthNum,4,None,906652,Using index condition
1,1,PRIMARY,<derived2>,ref,key0,key0,47,bob_mx_live.a.OrderNum,10,
2,2,DERIVED,A_Master,index,None,OrderNum,47,None,4238453,

In [8]:
%time df_test3 = pd.read_sql("select SKUSimple,SKUName, sum(PaidPrice) as PaidPrice \
                        from A_Master where MonthNum >= 201501 group by SKUConfig,SKUName \
                        order by PaidPrice desc limit 10000", engine)

CPU times: user 316 ms, sys: 0 ns, total: 316 ms
Wall time: 2min 40s